{% extends "base.html" %}
{% block title %}Produtos{% endblock %}

{% block content %}
<h1>Lista de Impostos</h1>

<a href="{% url 'tax-create' %}" class="btn btn-primary mb-3">Novo imposto</a>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Descrição</th>
                <th>Escopo</th>
                <th>Valor (%)</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for tax in taxes %}
            <tr>
                <td>{{ tax.description }}</td>
                <td>{{ tax.scope }}</td>
                <td>
                    {% if tax.percentage %}
                    {{ tax.percentage }}%
                    {% else %}
                    {{ tax.tax_amount }}
                    {% endif %}
                </td>
                <td>
                    <a href="{% url 'tax-detail' tax.pk %}" class="btn btn-sm btn-info">Detalhes</a>
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">Nenhum imposto cadastrado.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}